<!-- Modal: Cobrar cheque -->
<app-modal-small [showModal]="showModalCobrarCheque">
    <div class="bg-white rounded">
        <div class="flex items-center rounded-t bg-gray-800 justify-between text-white">
            <h1 class="py-1 px-2"> Cheque cobrado </h1>
            <svg (click)="regresarDetalles()" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x mr-2 cursor-pointer"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </div>
        <div *ngIf="chequeSeleccionado" class="p-2">
            <div class="p-2 border bg-gray-100">
                <h1 class="text-sm font-semibold text-gray-800 p-1"> Nro de cheque: <span class="font-normal text-sm"> {{ chequeSeleccionado.nro_cheque }} </span> </h1>
                <h1 class="text-sm font-semibold text-gray-800 p-1"> Saldo impactado: <span class="font-normal text-xs"> {{ chequeSeleccionado.banco }} </span> </h1>
                <h1 class="text-sm font-semibold text-gray-800 p-1"> Destino: <span class="font-normal text-xs"> {{ chequeSeleccionado.destino_descripcion }} </span> </h1>
                <h1 class="text-sm font-semibold text-gray-800 p-1"> Importe: <span class="font-normal"> ${{ chequeSeleccionado.importe | moneda }} </span> </h1>
            </div>
        </div>
        <div class="px-2 mt-1">
            <div class="font-semibold text-gray-800 text-sm">
                Fue cobrado el
            </div>
            <div>
                <div class="bg-whsite my-2 p-1 flex border border-gray-200 rounded shadow">
                    <input type="date" [(ngModel)]="nuevoCheque.fecha_cobrado" class="p-1 px-1 appearance-none outline-none w-full text-gray-800 text-sm">
                </div>
            </div>
            <button (click)="chequeCobrado()" class="border p-1 w-full mt-4 rounded focus:outline-none hover:text-green-700 mb-2 bg-gray-100 font-semibold"> Cheque cobrado </button>
        </div>
    </div>
</app-modal-small>

<!-- Modal: Detalles de cheque -->
<app-modal [showModal]="showModalDetalles">
    <div class="bg-white rounded">
        <div class="flex items-center rounded-t bg-gray-800 justify-between text-white">
            <h1 class="py-1 px-2"> Detalles de cheque </h1>
            <svg (click)="showModalDetalles = false" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x mr-2 cursor-pointer"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </div>
        <div *ngIf="chequeSeleccionado" class="p-2">
            <div class="bg-white p-2 text-sm">
                <!-- <p class="py-2 border-b border-t border-r border-l flex items-center justify-between px-2 bg-gray-100"> <span class="font-semibold"> Recepcion en sistema </span> <span class="text-sm"> {{ chequeSeleccionado.createdAt | fecha}} </span> </p> -->
                <p class="py-2 border-b border-r border-t border-l flex items-center justify-between px-2"> <span class="font-semibold"> Fecha de emisión </span> <span class="text-sm font-semibold"> {{ chequeSeleccionado.fecha_emision | fecha}} </span> </p>
                <p class="py-2 border-b border-r border-l flex items-center justify-between px-2"> <span class="font-semibold"> Fecha de cobro </span> <span class="text-sm font-semibold"> {{ chequeSeleccionado.fecha_cobro | fecha }} </span></p>
                <p *ngIf="chequeSeleccionado.activo === false" class="py-2 border-b border-r border-l flex items-center justify-between px-2 bg-blue-100"> <span class="font-semibold"> Cobrado el </span> <span class="text-sm font-semibold"> {{ chequeSeleccionado.fecha_cobrado | fecha }} </span></p>
                <p class="py-2 border-b border-r border-l flex items-center justify-between px-2"> <span class="font-semibold"> Banco </span> <span class="text-xs"> {{ chequeSeleccionado.banco !== '' ? chequeSeleccionado.banco : 'Sin especificar'}} </span> </p>
                <p class="py-2 border-b border-l border-r flex items-center justify-between px-2"> <span class="font-semibold"> Número de cheque </span> <span class="text-xs"> {{ chequeSeleccionado.nro_cheque }} </span> </p>
                <p *ngIf="chequeSeleccionado.estado === 'Cobrado'" class="py-2 border-b border-l border-r flex items-center justify-between px-2 bg-blue-100"> <span class="font-semibold"> Ultimo propietario </span> <span class="text-xs"> {{ chequeSeleccionado.destino_descripcion }} </span> </p>
                <p [ngClass]="{'bg-blue-100' : chequeSeleccionado.activo === false}" class="py-2 border-b border-l border-r flex items-center justify-between px-2"> <span class="font-semibold"> Destino </span> <span class="text-xs"> {{ chequeSeleccionado.destino_descripcion }} </span> </p>
                <p class="py-2 border-b border-l border-r flex items-center justify-between px-2"> <span class="font-semibold"> Cliente </span> <span class="text-xs"> {{ chequeSeleccionado.cliente_descripcion }} </span> </p>
                <p class="py-2 border-b border-l border-r flex items-center justify-between px-2"> <span class="font-semibold"> Emisor </span> <span class="text-xs"> {{ chequeSeleccionado.emisor !== '' ? chequeSeleccionado.emisor : 'Sin especificar' }} </span> </p>
                <p class="py-2 border-b border-l border-r flex items-center justify-between px-2"> <span class="font-semibold"> CUIT de emisor </span> <span class="text-xs"> {{ chequeSeleccionado.cuit !== '' ? chequeSeleccionado.cuit : 'Sin especificar' }} </span> </p>
                <p *ngIf="chequeSeleccionado.estado === 'Activo'" class="py-2 border-b border-l border-r flex items-center justify-between px-2"> <span class="font-semibold"> En poder de </span> <span class="text-xs"> {{ chequeSeleccionado.destino_descripcion }} </span> </p>
                <p class="py-2 border-b border-l border-r flex items-center justify-between px-2"> <span class="font-semibold"> Concepto </span> <span class="text-xs"> {{ chequeSeleccionado.concepto }} </span> </p>
                <p class="py-2 border-b border-l border-r flex items-center justify-between px-2"> <span class="font-semibold"> Estado </span> <span [ngClass]="{'bg-yellow-100 border-yellow-200' : (chequeSeleccionado.estado === 'Emitido' && chequeSeleccionado.activo === true), 'bg-blue-100 border-blue-200' : (chequeSeleccionado.estado === 'Emitido' && chequeSeleccionado.activo === false)}"
                        class="text-sm px-1 rounded border font-semibold"> {{ chequeSeleccionado.activo === true ? chequeSeleccionado.estado : 'Emitido y cobrado' }} </span> </p>
                <p class="py-2 border-b border-l border-r bg-gray-100 flex items-center justify-between px-2"> <span class="font-semibold"> Importe </span> <span class="font-semibold"> ${{ chequeSeleccionado.importe | moneda }} </span> </p>
            </div>
            <div *ngIf="chequeSeleccionado.activo" class="flex items-center">
                <button (click)="modalCobrarCheque()" class="p-2 w-full focus:outline-none hover:text-green-700 font-semibold text-center border rounded bg-gray-100"> El cheque fue cobrado </button>
            </div>
        </div>
    </div>
</app-modal>


<!-- Modal: Nuevo cheque -->
<app-modal [showModal]="showNuevoCheque">
    <div *ngIf="empresa">
        <div class="flex items-center justify-between bg-gray-800 py-2 px-3 rounded-t">
            <h1 class="text-white font-semibold text-md"> Emitiendo nuevo cheque </h1>
            <svg width="20" height="20" (click)="showNuevoCheque = false" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x text-white cursor-pointer pr-1"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </div>
        <div class="p-2 w-11/12 lg:w-full">
            <div>
                <div class="flex flex-col lg:flex-row">
                    <div class="w-full mx-2 flex-1">
                        <div class="font-semibold mt-3 text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Fecha emisión
                        </div>
                        <div class="bg-white my-2 flex">
                            <input type="Date" [(ngModel)]="nuevoCheque.fecha_emision" class="border border-gray-200 rounded px-2 py-1 w-full shadow text-sm focus:outline-none">
                        </div>
                    </div>
                    <div class="w-full mx-2 flex-1 svelte-1l8159u">
                        <div class="font-semibold mt-3 text-gray-600 text-sm">
                            Fecha de cobro
                        </div>
                        <div class="bg-white my-2 flex">
                            <input type="Date" [(ngModel)]="nuevoCheque.fecha_cobro" class="border border-gray-200 rounded px-2 py-1 w-full shadow text-sm focus:outline-none">
                        </div>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row">
                    <div class="w-full mx-2 flex-1">
                        <div class="font-semibold mt-3 text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Nro. de cheque
                        </div>
                        <div class="bg-white my-2 flex">
                            <input [(ngModel)]="nuevoCheque.nro_cheque" placeholder="Ej. 7ZEPN6GMWLQ2Q0M" class="border border-gray-200 rounded px-2 py-1 w-full shadow text-sm focus:outline-none">
                        </div>
                    </div>
                    <div class="w-full mx-2 flex-1 svelte-1l8159u">
                        <div class="font-semibold mt-3 text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Concepto
                        </div>
                        <div class="bg-white my-2 flex">
                            <input [(ngModel)]="nuevoCheque.concepto" placeholder="Ej. Pago por servicio" class="border border-gray-200 rounded px-2 py-1 w-full shadow text-sm focus:outline-none">
                        </div>
                    </div>
                </div>
                <div class="flex flex-col mt-3 lg:flex-row">
                    <div class="w-full mx-2 flex-1">
                        <div class="font-semibold text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Cliente
                        </div>
                        <div class="bg-white my-2 flex">
                            <div class="border border-gray-200 bg-gray-100 rounded px-2 py-1 w-full shadow text-sm focus:outline-none"> {{ nuevoCheque.emisor }} </div>
                        </div>
                    </div>
                    <div class="w-full mx-2 flex-1 svelte-1l8159u">
                        <div class="text-gray-600 text-sm">
                            <span class="font-semibold"> Banco </span> <span class="text-gray-500"> (Saldo de cliente) </span>
                        </div>
                        <select [(ngModel)]="nuevoCheque.banco_id" class="border border-gray-200 rounded p-1 mt-2 w-full shadow text-sm focus:outline-none">
                            <option value=""> Seleccionar banco </option>
                            <option *ngFor="let saldo of saldos" [value]="saldo._id"> {{ saldo.descripcion }} - ${{ saldo.monto }} </option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-col mt-3  lg:flex-row">
                    <div class="w-full mx-2 flex-1">
                        <div class="font-semibold text-gray-600 text-sm">
                            Emisor
                        </div>
                        <div class="bg-white my-2 flex">
                            <div class="border border-gray-200 bg-gray-100 rounded px-2 py-1 w-full shadow text-sm focus:outline-none"> {{ nuevoCheque.emisor }} </div>
                        </div>
                    </div>
                    <div class="w-full mx-2 flex-1 svelte-1l8159u">
                        <div class="font-semibold text-gray-600 text-sm">
                            CUIT (Emisor)
                        </div>
                        <div class="bg-white my-2 flex">
                            <div class="border border-gray-200 bg-gray-100 rounded px-2 py-1 w-full shadow text-sm focus:outline-none"> {{ nuevoCheque.cuit === '' ? 'Sin especificar' : nuevoCheque.cuit }} </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col mt-3 lg:flex-row">
                    <div class="w-full mx-2 flex-1">
                        <div class="font-semibold text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Tipo destino
                        </div>
                        <div class="bg-white my-2 flex">
                            <select (change)="actualizarDestino()" [(ngModel)]="data.tipo_destino" class="border border-gray-200 rounded p-1 w-full shadow text-sm focus:outline-none">
                                <option value="Externo"> Externo </option>
                                <option value="Interno"> Interno </option>
                            </select>
                        </div>
                    </div>
                    <div class="w-full mx-2 flex-1 svelte-1l8159u">
                        <div class="font-semibold text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Importe
                        </div>
                        <div class="bg-white my-2 flex">
                            <input [(ngModel)]="nuevoCheque.importe" placeholder="Ej. 15000" type="number" class="border border-gray-200 rounded px-2 py-1 w-full shadow text-sm focus:outline-none">
                        </div>
                    </div>
                </div>
                <div class="flex flex-col mt-3 lg:flex-row">
                    <div class="w-full mx-2 flex-1">
                        <div class="font-semibold text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Destino
                        </div>
                        <div class="bg-white my-2 flex">
                            <select [(ngModel)]="nuevoCheque.destino" class="border border-gray-200 rounded p-1 w-full shadow text-sm focus:outline-none">
                                <option value=""> Seleccionar destino </option>
                                <option *ngFor="let destino of destinos" [value]="destino._id"> {{ data.tipo_destino === 'Externo' ? destino.descripcion : destino.razon_social}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="w-full mx-2 flex-1 svelte-1l8159u"></div>
                </div>
            </div>
        </div>
        <div class="w-full lg:flex lg:items-center mt-6 px-3 pb-5">
            <button (click)="emitirCheque()" class="w-full lg:w-1/2 focus:outline-none bg-secondary-600 hover:bg-secondary-500 text-white rounded shadow p-2"> Emitir </button>
            <button (click)="showNuevoCheque = false" class="w-full lg:w-1/2 focus:outline-none bg-gray-600 hover:bg-gray-500 text-white rounded shadow p-2 lg:ml-2 mt-2 lg:mt-0"> Cancelar </button>
        </div>
    </div>
</app-modal>
<!-- Tarjeta principal -->
<app-tarjeta-lista>
    <div class="container mx-auto px-4 sm:px-8">
        <div class="py-4">
            <div class="flex items-center">
                <app-boton-regresar routerLink="/dashboard/empresas"></app-boton-regresar>
                <div class="ml-2">
                    <h2 *ngIf="empresa" class="text-2xl font-semibold leading-tight text-gray-600"> {{ empresa.razon_social }} </h2>
                    <p class='text-gray-500'> Total en cheques: <span class="font-semibold"> ${{ totalImporte | moneda }} </span> </p>
                </div>
            </div>
            <div class="md:flex md:items-center md:justify-between">
                <div class="my-2 flex sm:flex-row flex-col">
                    <div class="flex flex-row mb-1 sm:mb-0">
                        <div class="relative">
                            <select #txtEstado (change)="filtrarPorEstado(txtEstado.value)" class="h-full rounded-r border-t border-l rounded-l sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                                <option value='true'> Emitidos </option>
                                <option value='false'> Cobrados </option>
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="block relative">
                        <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                            <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500 cursor-pointer hover:text-secondary-500">
                                <path
                                    d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                                </path>
                            </svg>
                        </span>
                        <input #txtParametro placeholder="Buscar" (keyup)="filtrarParametro(txtParametro.value)" class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"
                        />
                    </div>
                </div>
                <div class="flex items-center">
                    <app-boton-generico (click)="modalEmitirCheque()"> Emitir cheque </app-boton-generico>
                </div>
            </div>
            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                    <table class="min-w-full leading-normal">
                        <thead>
                            <tr>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    <div (click)="ordenarPorColumna('createdAt')" class="cursor-pointer w-max flex items-center justify-center focus:outline-none">
                                        <span>
                                            Fecha de emision                                             
                                        </span>
                                        <span class="ml-2">
                                            <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'createdAt'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    <div (click)="ordenarPorColumna('fecha_cobro')" class="cursor-pointer w-max flex items-center justify-center focus:outline-none">
                                        <span>
                                            Fecha de cobro                                            
                                        </span>
                                        <span class="ml-2">
                                            <svg *ngIf="ordenar.columna == 'fecha_cobro' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'fecha_cobro' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'fecha_cobro'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    <div (click)="ordenarPorColumna('nro_cheque')" class="w-max cursor-pointer flex items-center focus:outline-none">
                                        <span> Numero </span>
                                        <span class="ml-2 text-gray-600">    
                                            <svg *ngIf="ordenar.columna == 'nro_cheque' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'nro_cheque' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'nro_cheque'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    <div (click)="ordenarPorColumna('destino_descripcion')" class="cursor-pointer flex items-center focus:outline-none">
                                        <span>
                                            Destino                                              
                                        </span>
                                        <span class="ml-2">
                                            <svg *ngIf="ordenar.columna == 'destino_descripcion' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'destino_descripcion' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'destino_descripcion'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    <div (click)="ordenarPorColumna('importe')" class="cursor-pointer flex items-center focus:outline-none">
                                        <span>
                                            Importe                                              
                                        </span>
                                        <span class="ml-2">
                                            <svg *ngIf="ordenar.columna == 'importe' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'importe' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'importe'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Acción
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="animate__animated animate__fadeIn" *ngFor="let cheque of cheques | filtroChequesEmitidos:filtro.parametro | paginate: {itemsPerPage: cantidadItems, currentPage: paginaActual}">
                                <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        {{ cheque.createdAt | fecha }}
                                    </p>
                                </td>
                                <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        {{ cheque.fecha_cobro | fecha }}
                                    </p>
                                </td>
                                <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        {{ cheque.nro_cheque }}
                                    </p>
                                </td>
                                <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        {{ cheque.destino_descripcion }}
                                    </p>
                                </td>
                                <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        ${{ cheque.importe | moneda }}
                                    </p>
                                </td>
                                <td class="px-5 py-2 border-b border-gray-200 text-xs text-center">
                                    <p class="flex items-center justify-center text-gray-900 whitespace-no-wrap">
                                        <app-boton-tabla (click)="modalDetalles(cheque._id)" title="Ver cheque">
                                            <svg width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                        </app-boton-tabla>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="px-5 py-5 bg-white border-t flex shadow flex-col xs:flex-row items-center xs:justify-between">
                        <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="paginaActual = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-tarjeta-lista>