<!-- Modal: Detalle de movimiento -->
<app-modal-medium [showModal]="showModalDetalles">
    <div class="flex items-center justify-between text-white bg-gray-800 rounded-t p-1">
        <h1 class="px-2"> Detalles de movimiento </h1>
        <svg (click)="showModalDetalles = !showModalDetalles" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x text-white cursor-pointer"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </div>
    <div class="p-2" *ngIf="this.movimientoSeleccionado">
        <div class="border bg-gray-100 p-2">
            <h2> <span class="font-semibold"> Tipo de movimiento: </span> <span> {{ this.movimientoSeleccionado.tipo_movimiento.descripcion }} </span> </h2>
            <h2> <span class="font-semibold"> Monto: </span> <span> ${{ this.movimientoSeleccionado.monto | moneda }} </span> </h2>
        </div>
        <div class="bg-white lg:flex mt-2">
            <div class="lg:w-1/2 w-full h-full text-sm">
                <p class="font-semibold bg-orange-700 text-white py-1 px-2 rounded text-center"> Datos de origen </p>
                <div class="p-1">
                    <p class="p-1"> <span class="font-semibold"> Origen: </span> <span class="text-sm"> {{ this.movimientoSeleccionado.origen_descripcion }} </span> </p>
                    <p class="p-1"> <span class="font-semibold"> Saldo impactado: </span> <span class="text-sm"> {{ this.movimientoSeleccionado.tipo_origen === 'Interno' ? this.movimientoSeleccionado.origen_saldo.descripcion : 'Externo'}} </span> </p>
                    <p class="p-1"> <span class="font-semibold"> Saldo anterior: </span> <span class="text-sm"> {{ this.movimientoSeleccionado.tipo_origen === 'Interno' ? ('$' + (this.movimientoSeleccionado.origen_monto_anterior | moneda)) : 'Externo' }} </span> </p>
                    <p class="p-1"> <span class="font-semibold"> Nuevo saldo: </span> <span class="text-sm"> {{ this.movimientoSeleccionado.tipo_origen === 'Interno' ? ('$' + (this.movimientoSeleccionado.origen_monto_nuevo | moneda)) : 'Externo' }} </span> </p>
                </div>
            </div>
            <div class="lg:w-1/2 w-full h-full ml-1 text-sm">
                <p class="font-semibold bg-green-700 text-white py-1 px-2 rounded text-center"> Datos de destino </p>
                <div class="p-1">
                    <p class="p-1"> <span class="font-semibold"> Destino: </span> <span class="text-sm"> {{ this.movimientoSeleccionado.destino_descripcion }} </span> </p>
                    <p class="p-1"> <span class="font-semibold"> Saldo impactado: </span> <span class="text-sm"> {{ this.movimientoSeleccionado.tipo_destino === 'Interno' ? this.movimientoSeleccionado.destino_saldo.descripcion : 'Externo'}} </span> </p>
                    <p class="p-1"> <span class="font-semibold"> Saldo anterior: </span> <span class="text-sm"> {{ this.movimientoSeleccionado.tipo_destino === 'Interno' ? ('$' + (this.movimientoSeleccionado.destino_monto_anterior | moneda)) : 'Externo' }} </span> </p>
                    <p class="p-1"> <span class="font-semibold"> Nuevo saldo: </span> <span class="text-sm"> {{ this.movimientoSeleccionado.tipo_destino === 'Interno' ? ('$' + (this.movimientoSeleccionado.destino_monto_nuevo | moneda)) : 'Externo' }} </span> </p>
                </div>
            </div>
        </div>
    </div>
</app-modal-medium>

<!-- Modal: Datos de cheque -->
<app-modal [showModal]="showModalCheque">
    <div class="p-4">
        <div class="flex items-center text-lg justify-between bg-gray-800 p-2 rounded-t">
            <h1 class="text-white"> Datos de cheque </h1>
            <app-boton-regresar (click)="regresar()"></app-boton-regresar>
        </div>
        <div>
            <div class="flex flex-col lg:flex-row">
                <div class="w-full mx-2 flex-1">
                    <div class="font-semibold mt-3 text-gray-600 text-sm">
                        <span class="text-red-500"> * </span> Nro. de cheque
                    </div>
                    <div class="bg-white my-2 flex">
                        <input [(ngModel)]="cheque.nro_cheque" class="border border-gray-200 rounded p-1 py-1 w-full shadow text-sm focus:outline-none">
                    </div>
                </div>
                <div class="w-full mx-2 flex-1 svelte-1l8159u">
                    <div class="font-semibold mt-3 text-gray-600 text-sm">
                        <span class="text-red-500"> * </span> Concepto
                    </div>
                    <div class="bg-white my-2 flex">
                        <input [(ngModel)]="cheque.concepto" class="border border-gray-200 rounded p-1 py-1 w-full shadow text-sm focus:outline-none">
                    </div>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row">
                <div class="w-full mx-2 flex-1">
                    <div class="font-semibold text-gray-600 text-sm">
                        <span class="text-red-500"> * </span> Cliente
                    </div>
                    <div class="bg-white my-2 flex">
                        <div class="border border-gray-200 bg-gray-100 rounded px-2 py-1 w-full shadow text-sm focus:outline-none">
                            {{ cheque.cliente_descripcion }}
                        </div>
                    </div>
                </div>
                <div class="w-full mx-2 flex-1 svelte-1l8159u">
                    <div class="font-semibold text-gray-600 text-sm">
                        <span class="text-red-500"> * </span> Destino
                    </div>
                    <div class="bg-white my-2 flex">
                        <div class="border border-gray-200 bg-gray-100 rounded px-2 py-1 w-full shadow text-sm focus:outline-none">
                            {{ cheque.destino_descripcion }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row">
                <div class="w-full mx-2 flex-1">
                    <div class="font-semibold text-gray-600 text-sm">
                        Emisor
                    </div>
                    <div class="bg-white my-2 flex">
                        <input [(ngModel)]="cheque.emisor" class="border border-gray-200 rounded p-1 py-1 w-full shadow text-sm focus:outline-none">
                    </div>
                </div>
                <div class="w-full mx-2 flex-1 svelte-1l8159u">
                    <div class="font-semibold text-gray-600 text-sm">
                        CUIT
                    </div>
                    <div class="bg-white my-2 flex">
                        <input [(ngModel)]="cheque.cuit" class="border border-gray-200 rounded p-1 py-1 w-full shadow text-sm focus:outline-none">
                    </div>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row">
                <div class="w-full mx-2 flex-1">
                    <div class="font-semibold text-gray-600 text-sm">
                        <span class="text-red-500"> * </span> Monto
                    </div>
                    <div class="bg-white my-2 flex">
                        <div class="border bg-gray-100 border-gray-200 rounded px-2 py-1 w-full shadow text-sm focus:outline-none"> ${{ cheque.importe | moneda }} </div>
                    </div>
                </div>
                <div class="w-full mx-2 flex-1 svelte-1l8159u"></div>
            </div>
        </div>
        <div class="lg:flex lg:items-center mt-6">
            <button (click)="crearCheque()" class="w-full lg:w-1/2 focus:outline-none bg-secondary-600 hover:bg-secondary-500 text-white rounded shadow p-2"> Crear </button>
            <button (click)="showModalCheque = false" class="w-full lg:w-1/2 focus:outline-none bg-gray-600 hover:bg-gray-500 text-white rounded shadow p-2 lg:ml-2 mt-2 lg:mt-0"> Cancelar </button>
        </div>
    </div>
</app-modal>

<!-- Modal: Nuevo movimiento -->
<app-modal-medium [showModal]="showModal">
    <div class="bg-white p-4">
        <h1 *ngIf="!flagEditando" class="text-lg font-medium bg-gray-800 text-white p-2 rounded text-center"> Creando un nuevo movimiento </h1>
        <form class="mt-1">
            <div class="px-2 mt-2 w-1/2">
                <div class="font-semibold text-gray-600 text-sm">
                    <span class="text-red-500"> * </span> Tipo de movimiento
                </div>
                <div class="bg-white my-2 flex">
                    <select name="tipo" [(ngModel)]="data.tipo_movimiento" class="border border-gray-200 rounded p-1 py-1 w-full shadow text-sm focus:outline-none">
                        <option value=""> Seleccionar tipo </option>
                        <option *ngFor="let tipo of tipos" [value]="tipo._id"> {{ tipo.descripcion }} </option>
                    </select>
                </div>
            </div>
            <div class="mt-3">
                <div class="font-semibold text-gray-600 text-sm">
                    <span class="text-red-500"> * </span> Monto ($)
                </div>
                <div class="font-semibold mx-2 mt-2">
                    <input type="number" name="monto" [(ngModel)]="data.monto" placeholder="Ingresar monto" min=0 class="border p-1 px-3 rounded focus:outline-none text-sm">
                </div>
            </div>
            <div class="flex mt-2">
                <div class="w-1/2 h-full mr-2">
                    <h1 class="bg-orange-700 text-white p-1 rounded font-semibold text-center mt-1 text-sm "> Datos de destino </h1>
                    <div class="flex flex-col lg:flex-row">
                        <div class="w-full flex-1">
                            <div class="font-semibold mt-3 text-gray-600 text-sm">
                                <span class="text-red-500"> * </span> Tipo de origen
                            </div>
                            <div class="bg-white my-2 flex">
                                <select name="tipo_origen" [(ngModel)]="data.tipo_origen" (change)="actualizarTipo('Origen', txtOrigen.value)" #txtOrigen class="border border-gray-200 rounded p-1 py-1 w-full shadow text-sm focus:outline-none">
                                    <option value='Externo'> Externo </option>
                                    <option value='Interno'> Interno </option>
                                </select>
                            </div>
                        </div>
                        <div class="w-full mx-2 flex-1 svelte-1l8159u">
                        </div>
                    </div>
                    <div>
                        <div class="font-semibold text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Origen
                        </div>
                        <div class="bg-white my-2 flex">
                            <select name="origen" (change)="actualizarElemento('Origen', txtOrigenValor.value, txtOrigenValor)" #txtOrigenValor [(ngModel)]="data.origen" class="border border-gray-200 rounded p-1 py-1 w-full shadow text-sm focus:outline-none">
                                <option value=""> Seleccionar origen </option>
                                <option *ngFor="let elemento of elementosOrigen" [value]="elemento._id"> {{ !elemento.descripcion ? elemento.razon_social : elemento.descripcion }} </option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="data.tipo_origen == 'Interno' && data.origen !== ''">
                        <div class="font-semibold text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Saldo
                        </div>
                        <div class="bg-white my-2 flex">
                            <select name="origen_saldo" [(ngModel)]="data.origen_saldo" class="border border-gray-200 rounded p-1 py-1 w-full shadow text-sm focus:outline-none">
                                <option value=""> Seleccionar saldo </option>
                                <option *ngFor="let elemento of saldos_origen" [value]="elemento._id"> {{ elemento.descripcion + ' - Disponible: ' +  '$' + elemento.monto }} </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="w-1/2 h-full">
                    <h1 class="bg-green-700 text-white p-1 rounded font-semibold text-center mt-1 text-sm"> Datos de destino </h1>
                    <div class="flex flex-col lg:flex-row">
                        <div class="w-full flex-1">
                            <div class="font-semibold mt-3 text-gray-600 text-sm">
                                <span class="text-red-500"> * </span> Tipo de destino
                            </div>
                            <div class="bg-white my-2 flex">
                                <select name="tipo_destino" [(ngModel)]="data.tipo_destino" (change)="actualizarTipo('Destino', txtDestino.value)" #txtDestino class="border border-gray-200 rounded p-1 py-1 w-full shadow text-sm focus:outline-none">
                                    <option value='Externo'> Externo </option>
                                    <option value='Interno'> Interno </option>
                                </select>
                            </div>
                        </div>
                        <div class="w-full flex-1 svelte-1l8159u"></div>
                    </div>
                    <div>
                        <div class="font-semibold text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Destino
                        </div>
                        <div class="bg-white my-2 flex">
                            <select name="destino" (change)="actualizarElemento('Destino', txtDestinoValor.value, txtDestinoValor)" #txtDestinoValor [(ngModel)]="data.destino" class="border border-gray-200 rounded p-1 py-1 w-full shadow text-sm focus:outline-none">
                                <option value=""> Seleccionar destino </option>
                                <option *ngFor="let elemento of elementosDestino" [value]="elemento._id"> {{ !elemento.descripcion ? elemento.razon_social : elemento.descripcion }} </option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="data.tipo_destino == 'Interno' && data.destino !== ''">
                        <div class="font-semibold text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Saldo
                        </div>
                        <div class="bg-white my-2 flex">
                            <select name="destino_saldo" [(ngModel)]="data.destino_saldo" class="border border-gray-200 rounded p-1 py-1 w-full shadow text-sm focus:outline-none">
                                <option value=""> Seleccionar saldo </option>
                                <option *ngFor="let elemento of saldos_destino" [value]="elemento._id"> {{ elemento.descripcion + ' - Disponible: ' +  '$' + elemento.monto }} </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="lg:flex lg:items-center mt-6">
            <button (click)="crearMovimiento()" class="w-full focus:outline-none lg:w-1/2 bg-secondary-600 hover:bg-secondary-500 text-white rounded shadow p-2"> Crear </button>
            <button (click)="showModal= !showModal" class="w-full lg:w-1/2 focus:outline-none bg-gray-600 hover:bg-gray-500 text-white rounded shadow p-2 lg:ml-2 mt-2 lg:mt-0"> Cancelar </button>
        </div>
    </div>
</app-modal-medium>

<app-tarjeta-lista>
    <div class="container mx-auto px-4 sm:px-8">
        <div class="py-4">
            <div>
                <h2 class="text-2xl font-semibold leading-tight text-gray-600">
                    Listado de movimientos
                </h2>
                <p class='text-gray-500'> Total de movimientos: {{ this.movimientos.length }} </p>
            </div>
            <div class="md:flex md:items-center md:justify-between">
                <div class="my-2 flex sm:flex-row flex-col">
                    <div class="block relative">
                        <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                            <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500 cursor-pointer hover:text-secondary-500">
                                <path
                                    d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                                </path>
                            </svg>
                        </span>
                        <input #txtParametro placeholder="Buscar" (keyup)="filtrarParametro(txtParametro.value)" class="appearance-none rounded-r rounded-l border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"
                        />
                    </div>
                </div>
                <div class="flex items-center">
                    <app-boton-generico (click)="abrirModal()"> Nuevo movimiento </app-boton-generico>
                </div>
            </div>
            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                    <table class="min-w-full leading-normal">
                        <thead>
                            <tr>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    <div (click)="ordenarPorColumna('createdAt')" class="w-max cursor-pointer flex items-center focus:outline-none">
                                        <span> Fecha </span>
                                        <span class="ml-2 text-gray-600">    
                                            <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'createdAt'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    <div (click)="ordenarPorColumna('tipo_movimiento.descripcion')" class="cursor-pointer flex items-center focus:outline-none">
                                        <span>
                                            Tipo
                                        </span>
                                        <span class="ml-2">
                                            <svg *ngIf="ordenar.columna == 'tipo_movimiento.descripcion' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'tipo_movimiento.descripcion' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'tipo_movimiento.descripcion'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    <div (click)="ordenarPorColumna('origen_descripcion')" class="cursor-pointer flex items-center focus:outline-none">
                                        <span>
                                            Origen
                                        </span>
                                        <span class="ml-2">
                                            <svg *ngIf="ordenar.columna == 'origen_descripcion' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'origen_descripcion' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'origen_descripcion'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    <div (click)="ordenarPorColumna('destino_descripcion')" class="cursor-pointer w-max flex items-center justify-center focus:outline-none">
                                        <span>
                                            Destino                                               
                                        </span>
                                        <span class="ml-2">
                                            <svg *ngIf="ordenar.columna == 'destino_descripcion' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'destino_descripcion' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'destino_descripcion'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    <div (click)="ordenarPorColumna('monto')" class="cursor-pointer flex items-center focus:outline-none">
                                        <span>
                                            Monto                                              
                                        </span>
                                        <span class="ml-2">
                                            <svg *ngIf="ordenar.columna == 'monto' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'monto' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'monto'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="externos">
                            <tr (click)="abrirModalDetalles(movimiento._id)" class="animate__animated animate__fadeIn hover:bg-yellow-100 cursor-pointer" *ngFor="let movimiento of movimientos | filtroMovimientos:filtro.parametro | paginate: {itemsPerPage: cantidadItems, currentPage: paginaActual}">
                                <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 whitespace-no-wrap w-max">
                                        {{ movimiento.createdAt | fecha }}
                                    </p>
                                </td>
                                <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 whitespace-no-wrap w-max">
                                        {{ movimiento.tipo_movimiento.descripcion }}
                                    </p>
                                </td>
                                <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 whitespace-no-wrap w-max">
                                        {{ movimiento.origen_descripcion }} <span *ngIf="movimiento.origen_saldo_descripcion != null" class="bg-orange-100 border border-orange-200 text-orange-800 ml-1 font-semibold rounded px-1"> {{ movimiento.origen_saldo_descripcion }} </span>
                                    </p>
                                </td>
                                <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 whitespace-no-wrap w-max">
                                        {{ movimiento.destino_descripcion }} <span *ngIf="movimiento.destino_saldo_descripcion != null" class="bg-green-100 border border-green-200 text-green-800 ml-1 font-semibold rounded px-1"> {{ movimiento.destino_saldo_descripcion }} </span>
                                    </p>
                                </td>
                                <td class="px-5 py-2 border-b border-gray-200 text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        ${{ movimiento.monto | moneda}}
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="px-5 py-5 bg-white border-t flex shadow flex-col xs:flex-row items-center xs:justify-between">
                        <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="paginaActual = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-tarjeta-lista>