<div class="lg:flex p-4">
    <div class="w-full lg:w-1/2 bg-white border-t-8 shadow rounded border-gray-800">
        <div class="flex items-center justify-between mr-5">
            <app-encabezado-formulario titulo="Usuarios" subTitulo="Actualización de contraseña" dirRegresar="/dashboard/usuarios"></app-encabezado-formulario>
            <!-- <img *ngIf="passwordForm.value.password !== passwordForm.value.repetir || passwordForm.value.password === ''" src="assets/img/usuarios/candado_abierto.png" class="w-16 h-16 rounded border shadow" alt="Candado abierto"> -->
            <!-- <img *ngIf="passwordForm.value.password === passwordForm.value.repetir && passwordForm.value.password !== ''" src="assets/img/usuarios/candado_cerrado.png" class="w-16 h-16 rounded border shadow" alt="Candado abierto"> -->
        </div>
        <form autocomplete="off" [formGroup]="passwordForm" class="px-5 pb-5">

            <div class="flex flex-col lg:flex-row mt-2">
                <div class="w-full mx-2 flex-1 svelte-1l8159u">
                    <div class="font-semibold mt-3 text-gray-600 text-sm"> Password </div>
                    <div class="bg-white my-2 p-1 flex border border-gray-300 rounded shadow">
                        <input type="password" placeholder="******" formControlName="password" class="p-1 px-2 appearance-none outline-none w-full text-gray-800 text-sm"></div>
                </div>
                <div class="w-full mx-2 flex-1 svelte-1l8159u">
                    <div class="font-semibold mt-3 text-gray-600 text-sm"> Repetir password </div>
                    <div class="bg-white my-2 p-1 flex border border-gray-300 rounded shadow">
                        <input type="password" placeholder="******" formControlName="repetir" class="p-1 px-2 appearance-none outline-none w-full text-gray-800 text-sm"></div>
                </div>
            </div>
            <div class="flex flex-col lg:flex-row mt-2">
                <div class="w-full mx-2 flex-1">
                    <app-boton-formulario diabled (click)="actualizarPassword()">
                        Actualizar constraseña
                    </app-boton-formulario>
                </div>
            </div>
        </form>
    </div>
    <div [ngClass]="{'border-red-600': (passwordForm.value.password !== passwordForm.value.repetir || passwordForm.value.password === ''), 'border-green-600': (passwordForm.value.password === passwordForm.value.repetir && passwordForm.value.password !== '')}"
        class="mt-2 lg:mt-0 border-t-8 w-full shadow lg:w-1/2 lg:ml-3 border-gray-800 p-4 rounded h-full bg-white">
        <div class="flex items-center justify-between">
            <div class="flex">
                <img *ngIf="usuario.role === 'ADMIN_ROLE'" class="w-32 h-32 bg-green-100 rounded-full shadow" src="assets/img/usuarios/usuario_administrador.png" alt="Avatar de usuario">
                <img *ngIf="usuario.role === 'USER_ROLE'" class="w-32 h-32 bg-orange-100 rounded-full shadow" src="assets/img/usuarios/usuario_cajero.png" alt="Avatar de usuario">
                <div class="ml-4 mt-2">
                    <div class="mt-1">

                        <!-- Nombre de usuario -->
                        <p class="font-semibold text-3xl">{{ usuario.usuario }} </p>

                        <!-- Apellido y Nombre -->
                        <p class="text-gray-800 text-2xl"> {{ usuario.nombre }} {{ usuario.apellido }} </p>

                        <!-- Correo electronico -->
                        <p class="text-gray-500 italic text-md"> {{ usuario.email }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>