<app-tarjeta-mini>
    <div class="p-3">
        <h1 class="text-lg text-center p-2 border-b flex items-center justify-center">
            <span class="ml-2 text-gray-700"> Selecciona el tipo de reporte </span>
        </h1>
        <button routerLink="movimientos" class="bg-gray-100 p-2 w-full border border-gray-200 shadow rounded mt-2 hover:text-green-700 focus:outline-none"> Movimientos </button>
        <button routerLink="cheques-emitidos" class="bg-gray-100 p-2 w-full border border-gray-200 shadow rounded mt-2 hover:text-green-700 focus:outline-none"> Cheques emitidos </button>
    </div>
</app-tarjeta-mini>